# 準備

In [ ]:
!pip install --upgrade xlrd==1.2.0

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import urllib.parse
import urllib.request
import json
import os
import pandas as pd
import numpy as np
import xlrd
import openpyxl

In [ ]:
!pip install openpyxl

# 企業活動のCO2

## 単体チェック

EXCELをインポートして整形する関数

In [10]:
def get_co2(path):

  # Bookをインポートしてシート名をリストに格納
  book = pd.ExcelFile(path)
  sheets = book.sheet_names

  # ファイル名からIDと事業者名を取得
  filename = path.split('/')[7]
  id = filename.split('_')[0]
  company = filename.split('_')[1].replace('.xlsx', '')
  
  # CO2排出量のシートをDataFrameに格納
  df = book.parse(sheets[4])
  
  df = df[['Unnamed: 4','Unnamed: 9','Unnamed: 15','Unnamed: 17','Unnamed: 19']]
  df = df.rename(columns={'Unnamed: 4' : '種類','Unnamed: 9' : '使用量','Unnamed: 15' : '単位','Unnamed: 17' : '排出係数','Unnamed: 19' : 'CO2排出量'})
  df = df.dropna(subset=['種類','使用量','CO2排出量']).reset_index(drop=True)
  
  # 余計なデータを削除
  df = df[df['CO2排出量'] != '－']

  df = df.assign(年次 = '',会社名 = company,ID = id)
  
  for index, row in df.iterrows():
    
    if type(row['CO2排出量']) is str:
      time = '2021年' if index == 0 else '2013年'
      df = df.drop(index)
  
    df['年次'][index] = time

  # 荷役機械のデータが紛れ込むので削除
  df = df[df['排出係数'] != 'LPG']
  df = df[df['排出係数'] != 'ケミカル']
  df = df[df['排出係数'] != '石炭']
  df = df[df['排出係数'] != 'バン頁']
  df = df[df['排出係数'] != '珪砂']
  
  # 改行を削除
  df = df.replace( '\n', '', regex=True)

  # CO2排出量を整数に変換
  df['CO2排出量'] = df['CO2排出量'].astype('int')

  # 排出区分を追加する
  df_type = pd.read_csv('/content/drive/MyDrive/播磨臨海地域CNP/CO2排出量の推計/企業活動排出区分.csv', encoding = "shift-jis")
  df_type = df_type[~df_type.duplicated()]
 
  df = pd.merge(df, df_type, on=['種類'] , how='left')
  df = df.fillna({'区分': '電気'})

  return df

パスを指定してテスト

In [13]:
path = '/content/drive/MyDrive/播磨臨海地域CNP/CO2排出量の推計/企業アンケート結果/専53_サントリープロダクツ.xlsx'
df = get_co2(path)
df

/usr/local/lib/python3.7/dist-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

,種類,使用量,単位,排出係数,CO2排出量,年次,会社名,ID,区分
0,都市ガス(13A),4398036,Nm3,0.049867,9869192,2021年,サントリープロダクツ,専53,燃料
1,関西電力（ｾﾞﾛｶｰﾎﾞﾝﾒﾆｭｰを除く）,16972049,kWh,0.351,5957189,2021年,サントリープロダクツ,専53,電気
2,関西電力（ｾﾞﾛｶｰﾎﾞﾝﾒﾆｭｰを除く）,11618196,kWh,0.351,4077986,2021年,サントリープロダクツ,専53,電気
3,都市ガス(13A),5057834,Nm3,0.049867,11349779,2013年,サントリープロダクツ,専53,燃料
4,関西電力（ｾﾞﾛｶｰﾎﾞﾝﾒﾆｭｰを除く）,16170320,kWh,0.358,5788974,2013年,サントリープロダクツ,専53,電気
5,関西電力（ｾﾞﾛｶｰﾎﾞﾝﾒﾆｭｰを除く）,11280276,kWh,0.358,4038338,2013年,サントリープロダクツ,専53,電気

合計値を確認しておく

In [14]:
# 合計値の確認
df_sum = df.groupby(['年次']).agg({'CO2排出量': 'sum'}).reset_index()
df_sum

      年次    CO2排出量
0  2013年  21177091
1  2021年  19904367

## CO2排出明細の作成

ディレクトリ内のファイル一覧を取得する

In [16]:
def get_dataframe():

  files = os.listdir('/content/drive/MyDrive/播磨臨海地域CNP/CO2排出量の推計/企業アンケート結果/')
  
  df_res = pd.DataFrame(index=[], columns=[])
  
  for f in files:
    path = f'/content/drive/MyDrive/播磨臨海地域CNP/CO2排出量の推計/企業アンケート結果/{f}'
    df = get_co2(path)
    df_res = pd.concat([df_res, df])

  return df_res

In [ ]:
df_detail = get_dataframe()
df_detail

合計値を確認

In [18]:
df_sum = df_detail.copy().groupby(['年次']).agg({'CO2排出量': 'sum'}).reset_index()
df_sum

      年次       CO2排出量
0  2013年  30205475341
1  2021年  25411131881

電気のCO2排出係数を0.250にした場合

## CO2排出明細の作成（電気0.250）

2030年に電気の排出係数が0.250になった場合の想定値

電気使用量は2021年とする

In [19]:
def co2_2030(df_arg):

  df = df_arg.copy()
  
  # 2021年を抽出
  df = df[df['年次'] == '2021年']

  # 電気の排出係数を0.250に置換
  df['排出係数'] = df.apply(lambda x: x['排出係数'] if x['区分'] != '電気' else 0.250, 1)

  # 年次を2030年に置換
  df = df.replace({'年次': {'2021年': '2030年'}})

  return df

In [20]:
df_detail_2030 = co2_2030(df_detail)
df_detail_2030

,種類,使用量,単位,排出係数,CO2排出量,年次,会社名,ID,区分
0,揮発油（ガソリン）,600,ℓ,0.067100,1392,2030年,石塚硝子,専01,燃料
1,軽油,17600,ℓ,0.068567,45495,2030年,石塚硝子,専01,燃料
2,液化石油ガス(ＬＰＧ),660,kg,0.059033,1979,2030年,石塚硝子,専01,燃料
3,都市ガス(13A),14923820,Nm3,0.049867,33489052,2030年,石塚硝子,専01,燃料
4,石灰石使用量,6717.9,ｔ,440.000000,2955876,2030年,石塚硝子,専01,工程
...,...,...,...,...,...,...,...,...,...
14,一般電気事業者（売電）,-283424000,kWh,0.250000,-203789052,2030年,神戸製鋼所加古川製鉄所,専43,電気
15,関西電力（ｾﾞﾛｶｰﾎﾞﾝﾒﾆｭｰを除く）,85068000,kWh,0.250000,29858868,2030年,神戸製鋼所加古川製鉄所,専43,電気
16,関西電力（ｾﾞﾛｶｰﾎﾞﾝﾒﾆｭｰを除く）,70695750,kWh,0.250000,24814208,2030年,神戸製鋼所加古川製鉄所,専43,電気
0,都市ガス(13A),2380000,Nm3,0.049867,5340720,2030年,日本水産,専19,燃料
1,関西電力（ｾﾞﾛｶｰﾎﾞﾝﾒﾆｭｰを除く）,15306000,kWh,0.250000,5372406,2030年,日本水産,専19,電気

## データ整理

集計して整理

In [21]:
def sum_co2(time,df_arg):
  
  df = df_arg.copy()
  
  # 単位をtに変換
  df['CO2排出量'] = df.apply(lambda x: x['CO2排出量'] / 1000, 1)
  df['CO2排出量'] = df['CO2排出量'].astype('int')
  
  # データ整形
  df = df.copy().groupby(['ID','会社名','年次','区分']).agg({'CO2排出量': 'sum'}).reset_index()
  df = df[df['年次'] == time]
  df = df.pivot(index=['ID','会社名'], columns='区分', values='CO2排出量').reset_index()
  df['合計'] = df.sum(axis=1)
  
  # 列名の変更
  columns = {'工程':f'{time}_工程【t】','燃料':f'{time}_燃料【t】','電気':f'{time}_電気【t】','合計':f'{time}_合計【t】'}
  df = df.rename(columns=columns)
  
  return df

In [ ]:

# 2013年、2021年、2030年をマージ
df_2013 = sum_co2('2013年',df_detail)
df_2021 = sum_co2('2021年',df_detail)

df = pd.merge(df_2013, df_2021, on=['ID','会社名'] , how='left')

df_2030 = sum_co2('2030年',df_detail_2030)

df = pd.merge(df, df_2030, on=['ID','会社名'] , how='left')

# 算出方法の列を追加
df = df.assign(算出方法 = 'ｱﾝｹｰﾄ')

# 環境政策課データを追加する
df_kankyou = pd.read_csv('/content/drive/MyDrive/播磨臨海地域CNP/CO2排出量の推計/環境政策課データ.csv', encoding = "shift-jis")
df = pd.concat([df, df_kankyou], axis=0)

# IDでソート
df = df.sort_values('ID')

# 合計行を追加
df = df.append(df.sum(numeric_only=True), ignore_index=True)

df = df.fillna(0)

df

# 専用埠頭の荷役機械等

## 単体チェック

EXCELをインポートして整形する関数

In [ ]:
def get_co2(path):

  # Bookをインポートしてシート名をリストに格納
  book = pd.ExcelFile(path)
  sheets = book.sheet_names

  # ファイル名からIDと事業者名を取得
  filename = path.split('/')[7]
  id = filename.split('_')[0]
  company = filename.split('_')[1].replace('.xlsx', '')
  
  # CO2排出量のシートをDataFrameに格納
  df = book.parse(sheets[4])

  # 必要な行だけ抽出
  df = df.dropna(subset=['Unnamed: 16']).reset_index(drop=True)
  
  # 列の整理
  df = df[['アンケートⅡ　CO2排出量と削減計画等','Unnamed: 4','Unnamed: 9','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 19']]
  df = df.rename(columns={'アンケートⅡ　CO2排出量と削減計画等' : '名称','Unnamed: 4' : '種類','Unnamed: 9' : '使用量','Unnamed: 15' : '単位','Unnamed: 16' : '荷役運転時間','Unnamed: 17' : '取扱貨物種類','Unnamed: 19' : '取扱貨物量'})
  
  # # 余計なデータを削除
  # df = df[df['CO2排出量'] != '－']

  df = df.assign(年次 = '',会社名 = company,ID = id)
  
  for index, row in df.iterrows():
    
    if type(row['荷役運転時間']) is str:
      time = '2021年' if index == 0 else '2013年'
      df = df.drop(index)
  
    df['年次'][index] = time

  # # 荷役機械のデータが紛れ込むので削除
  # df = df[df['排出係数'] != 'LPG']
  # df = df[df['排出係数'] != 'ケミカル']
  # df = df[df['排出係数'] != '石炭']
  # df = df[df['排出係数'] != 'バン頁']
  # df = df[df['排出係数'] != '珪砂']
  
  # # 改行を削除
  # df = df.replace( '\n', '', regex=True)

  # # CO2排出量を整数に変換
  # df['CO2排出量'] = df['CO2排出量'].astype('int')

  # # 排出区分を追加する
  # df_type = pd.read_csv('/content/drive/MyDrive/INBOX/企業活動排出区分.csv', encoding = "shift-jis")
  # df_type = df_type[~df_type.duplicated()]
 
  # df = pd.merge(df, df_type, on=['種類'] , how='left')
  # df = df.fillna({'区分': '電気'})

  return df

パスを指定してテスト

In [ ]:
path = '/content/drive/MyDrive/播磨臨海地域CNP/CO2排出量の推計/企業アンケート結果/専05_ダイセル.xlsx'
df = get_co2(path)
df

/usr/local/lib/python3.7/dist-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

,アンケートⅡ CO2排出量と削減計画等,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,１,現在(2021年度),NaN,のCO2排出量について,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,（１）事業所で管理している施設からのCO2排出量について、ご記入ください。\n 「環境の...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,事業所名\n※自動入力,NaN,NaN,NaN,燃料・焼却物等の種類名称\n（別表②参照）,NaN,NaN,NaN,NaN,使用量\n（年当たり）,...,NaN,NaN,単位\n(㍑、kwh、kg、MJ),NaN,排出係数,NaN,CO2換算\n排出量\n(kg-CO2) ※自動計算,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,(1)と(3)の合計(kg-CO2),NaN,NaN,NaN,472844.454359,NaN,NaN,NaN

## 荷役機械明細の作成

In [ ]:
def get_dataframe():

  files = os.listdir('drive/MyDrive/播磨臨海地域CNP/CO2排出量の推計/企業アンケート結果/')
  
  df_res = pd.DataFrame(index=[], columns=[])
  
  for f in files:
    path = f'/content/drive/MyDrive/播磨臨海地域CNP/CO2排出量の推計/企業アンケート結果/{f}'
    df = get_co2(path)
    df_res = pd.concat([df_res, df])

  return df_res

In [ ]:
df_detail = get_dataframe()
df_detail

/usr/local/lib/python3.7/dist-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

,名称,種類,使用量,単位,荷役運転時間,取扱貨物種類,取扱貨物量,年次,会社名,ID
1,5t水平引き込みクレーン,電気,14092.5,NaN,140.925,バン頁,6769,2021年,AGC,専52
3,5t水平引き込みクレーン,電気,11476.25,NaN,114.7625,バン頁,2961,2013年,AGC,専52
1,船側ポンプ,Ａ重油,212440,ℓ,1880,LPG,389715,2021年,日本触媒,専02
2,船側ポンプ,Ａ重油,159152,ℓ,2030,ケミカル,333115,2021年,日本触媒,専02
3,陸上ポンプ,関西電力\n（ｾﾞﾛｶｰﾎﾞﾝﾒﾆｭｰを除く）,43420,kWh,835,ケミカル,203901,2021年,日本触媒,専02
1,アンローダー\n230t/h,NaN,電源は自家発電電気で充当,NaN,1000,石炭,211530,2021年,カネカ,専48
2,"クレーン180t/h,230t/h",NaN,電源は自家発電電気で充当,NaN,2364,原塩,510829,2021年,カネカ,専48
4,アンローダー\n230t/h,NaN,電源は自家発電電気で充当,NaN,1247,石炭,254066,2013年,カネカ,専48
5,"クレーン\n180t/h,230t/h",NaN,電源は自家発電電気で充当,NaN,1816,原塩,396670,2013年,カネカ,専48
1,揚炭機,関西電力（ｾﾞﾛｶｰﾎﾞﾝﾒﾆｭｰ)以外\nの電気事業者,－,kWh,1560,石炭,1167000,2021年,J-POWER,専51
3,揚炭機,関西電力（ｾﾞﾛｶｰﾎﾞﾝﾒﾆｭｰ)以外\nの電気事業者,-,kWh,1730,石炭,1299000,2013年,J-POWER,専51
1,沿岸ジブクレーン,関西電力\n（ｾﾞﾛｶｰﾎﾞﾝﾒﾆｭｰを除く）,NaN,kWh,770,鋼材,48000,2021年,山陽特殊製鋼,専12

# 専用岸壁の船舶

## 単体チェック

EXCELをインポートして整形する関数

In [ ]:
def get_ships(path):

  # Bookをインポートしてシート名をリストに格納
  book = pd.ExcelFile(path)
  sheets = book.sheet_names

  # ファイル名からIDと事業者名を取得
  filename = path.split('/')[7]
  id = filename.split('_')[0]
  company = filename.split('_')[1].replace('.xlsx', '')
  
  # CO2排出量のシートをDataFrameに格納
  df = book.parse(sheets[4])

  # 必要な行だけ抽出
  df = df.dropna(subset=['Unnamed: 6']).reset_index(drop=True)
  
  # # 列の整理
  # df = df[['アンケートⅡ　CO2排出量と削減計画等','Unnamed: 4','Unnamed: 9','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 19']]
  # df = df.rename(columns={'アンケートⅡ　CO2排出量と削減計画等' : '名称','Unnamed: 4' : '種類','Unnamed: 9' : '使用量','Unnamed: 15' : '単位','Unnamed: 16' : '荷役運転時間','Unnamed: 17' : '取扱貨物種類','Unnamed: 19' : '取扱貨物量'})
  
  # # # 余計なデータを削除
  # # df = df[df['CO2排出量'] != '－']

  # df = df.assign(年次 = '',会社名 = company,ID = id)
  
  # for index, row in df.iterrows():
    
  #   if type(row['荷役運転時間']) is str:
  #     time = '2021年' if index == 0 else '2013年'
  #     df = df.drop(index)
  
  #   df['年次'][index] = time

  # # 荷役機械のデータが紛れ込むので削除
  # df = df[df['排出係数'] != 'LPG']
  # df = df[df['排出係数'] != 'ケミカル']
  # df = df[df['排出係数'] != '石炭']
  # df = df[df['排出係数'] != 'バン頁']
  # df = df[df['排出係数'] != '珪砂']
  
  # # 改行を削除
  # df = df.replace( '\n', '', regex=True)

  # # CO2排出量を整数に変換
  # df['CO2排出量'] = df['CO2排出量'].astype('int')

  # # 排出区分を追加する
  # df_type = pd.read_csv('/content/drive/MyDrive/INBOX/企業活動排出区分.csv', encoding = "shift-jis")
  # df_type = df_type[~df_type.duplicated()]
 
  # df = pd.merge(df, df_type, on=['種類'] , how='left')
  # df = df.fillna({'区分': '電気'})

  return df

パスを指定してテスト

In [ ]:
path = '/content/drive/MyDrive/播磨臨海地域CNP/CO2排出量の推計/企業アンケート結果/専02_日本触媒.xlsx'
df = get_ships(path)
df

/usr/local/lib/python3.7/dist-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

,アンケートⅡ CO2排出量と削減計画等,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29
0,船種,NaN,NaN,総トン数(階級別),NaN,NaN,総停泊時間,NaN,CO2排出量(kg-CO2),NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ＬＰＧ船(内航船),NaN,NaN,773.2,NaN,NaN,1751.6,NaN,516847.782186,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ＬＰＧ船(外航船),NaN,NaN,1273.3,NaN,NaN,77.4,NaN,16422.408073,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,内航ケミカル船(内航船),NaN,NaN,489.2,NaN,NaN,2082,NaN,428951.031062,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,外航ケミカル船(外航船),NaN,NaN,773.4,NaN,NaN,85.2,NaN,12482.868205,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,２,2014年度,のCO2排出量について,NaN,NaN,NaN,※現況(2021年度)と変わらないのであれば空欄で結構です。,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,※2013年度当時に立地されていなかった企業様は空欄で結構です。,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,船種,NaN,NaN,総トン数(階級別),NaN,NaN,総停泊時間,NaN,CO2排出量(kg-CO2),NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,ＬＰＧ船(内航船),NaN,NaN,753.3,NaN,NaN,663.4,NaN,191743.812845,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,ＬＰＧ船(外航船),NaN,NaN,798,NaN,NaN,54,NaN,8094.689958,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,内航ケミカル船(内航船),NaN,NaN,449,NaN,NaN,1089,NaN,209968.294842,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,外航ケミカル船(外航船),NaN,NaN,739.2,NaN,NaN,58,NaN,8222.405282,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN